name: Fetch data and deploy

on:
  schedule:
    - cron: '*/10 * * * *'  # Run every 10 minutes

jobs:
  fetch-data-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable

    - name: Install Netlify
      run: npm install netlify-cli@17.10.1 -g

    - name: Make output dir
      run: mkdir out
        
    - name: Download data
      run: cargo run --release --bin download_data
      
    - name: Render HTML
      run: cargo run --release --bin render_html

    - name: Deploy to Netlify
      id: netlify_deploy
      run: |
          netlify deploy \
            --dir out \
            --site ${{ secrets.NETLIFY_SITE_ID }} \
            --auth ${{ secrets.NETLIFY_AUTH_TOKEN }}

